dist: trusty

services:
  - postgresql
  - docker

language: node_js
node_js:
  - "10"

cache: npm

env:
  - CXX=g++-6
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-6

before_install:
- docker pull bitnami/minio:latest
- docker run -d -p 127.0.0.1:9000:9000 -e MINIO_ACCESS_KEY=musicshare -e MINIO_SECRET_KEY=musicshare bitnami/minio 
      
install:  
  - npm install
  - npm run bootstrap

jobs:
  include:
    - stage: Build and Test
      script:
        - npm run build:cassandra-schema-builder
        - npm run build:backend
        - npm run lint
        - npm run test:ci
    - # stage name not required, will continue to use `test`
      script:
        - npm run build:frontend
